QWidget {
	background-color: #F1F1F1;
}

QPushButton {
	border-radius: 0;
	border: 1px solid black;
	padding: 8px;
	background-color: lightgray;
	color: black;
}
/*:disabled*/
QPushButton:hover {
        background-color: #BBB;
}

QPushButton:pressed {
	background-color: dodgerblue;
	color: white;
}

QTableView {
	background-color: white;
	gridline-color: black;
}
